/**/
/*スクロール*/
div.roomlist{
 border: solid 1px;
 margin-top:100px; 
 top: 0px;
 left: 0px;
 width: auto;
 height:500px;
 overflow-y: scroll;
}
.p{
  border: solid 1px;
  width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
p{
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
.user_title{
  width: auto;
  text-align: center;
}
img.img{
 width: 15px;
 height:15px;
}
table{
  width: 340px;
  border: solid 1px;
  margin: 5px;
}
td:not(.not){
  border: solid 1px;
 text-align: center;
 width: auto;
}

th{
  border: solid 1px;
  width: 88px;
}
td.user{
  border: solid 1px;

}
div.user{
  width: auto;
  border: solid 1px;
  padding: 5px;
  margin-bottom: 15px;
  text-align: center;
}
/*デザイン*/
::-webkit-scrollbar{
 width: 10px;
}
::-webkit-scrollbar-track{
 background: #fff;
 border: none;
 border-radius: 10px;
 box-shadow: inset 0 0 2px #777; 
}
::-webkit-scrollbar-thumb{
 background: #ccc;
 border-radius: 10px;
 box-shadow: none;
}
.gamestart{
  color: blue;
  text-decoration: underline;
}
input.startbutton{
  margin: auto;
}
.startbutton{
  display :none;
  width: 300px;
}
.pass{
  display :none;
  margin-left: 250px;
}
.taisitu{
  float: left;
  margin-bottom: 20px;
}
.room_name{
  margin-right: 57px;
}