/* This is a CSS file */
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body{
  background-image: url("../Photo/haikei.png");
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #99FF99;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.box {
  background: rgba(255,255,255,.7);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}
